@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

/* INTERSECTION OBSERVER */

.hidden {
  opacity: 0;
  transition: all 3s;
}

.show {
  opacity: 1;
}

/* NAV */

#Navbar {
  display: flex;
  align-items: center;
  height: 10vh;
}
.nav-links {
  display: inline-flex;
  list-style-type: none;
  gap: 4rem;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
}

/* PROFILE */
#Profile {
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}
.text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-pic-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.picture-text__p2 {
  font-style: italic;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.profile-pic {
  height: 30rem;
}
.title {
  font-size: 100px;
  margin: 0rem;
  text-align: center;
}
.section__text__p1 {
  font-size: 30px;
}
.icon {
  height: 5rem;
  margin-top: 3rem;
}

/* ABOUT */
#About {
  justify-content: start;
  margin-top: 5rem;
  padding-top: 3rem;
  min-height: 100vh;
}
.about-items li {
  margin-bottom: 2rem;
}
